<div class="container"><form method="post" action="/productos/login" style="margin:20px;">
    <h1 class="text-center">Ingrese su nombre</h1>
      <div class="form-group mt-2">
       <label >Nombre</label>
       <input type="text" class="form-control"  placeholder="Nombre" name="nombre">
     </div>
      <button type="submit" class="btn btn-success mt-2">Enviar</button>
       </form></div>