<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body class="container mt-5">
    <main>
        <% if(productos.length>0){ %>
            <div class="container text-center">
                <h1>Ingrese producto</h1>
                <div class="container text-center pt-5 " >
                    <div class="container bg-dark text-white" >
                        <div class="row" >
                        <div class="col-sm pt-2" >
                         Nombre
                        </div>
                        <div class="col-sm pt-2" >
                          Precio
                        </div>
                        <div class="col-sm pt-2" >
                        Foto
                        </div>
                      </div>
                      <% productos.forEach(function(producto) { %>
                      <div class="row pt-2 pb-2" >
                        <div class="col-sm pt-2" style=" border-top: 1px solid white">
                            <%= producto.title %>
                        </div>
                        <div class="col-sm pt-2" style=" border-top: 1px solid white" >
                            <%= producto.price %>
                        </div>
                        <div class="col-sm pt-2" style=" border-top: 1px solid white" >
                        <img width="50px" height="50px" src=<%= producto.thumbnail %>>
                        </div>
                      </div>
                      <% }); %>
            </div>
            </div>
            </div>
          <% } else{ %>  
            <div class="container text-center"><h1>NO HAY PRODUCTOS</h1></div>
         <% } %>
       
    </main>
</body>
</html>