 <form method="post" action="/" style="margin:20px;">
 <h1>Ingrese producto</h1>
   <div class="form-group mt-2">
    <label >Nombre</label>
    <input type="text" class="form-control"  placeholder="Nombre" name="title">
  </div>
  <div class="form-group mt-2">
    <label >Precio</label>
    <input type="text" class="form-control "  placeholder="Precio" name="price">
  </div>
  <div class="form-group mt-2">
    <label >Foto URL</label>
    <input type="text" class="form-control "  placeholder="https://cdn4.iconfinder.com/data/icons/navigation-40/24/chevron-down-512.png" name="thumbnail">
  </div>
   <button type="submit" class="btn btn-success mt-2">Enviar</button>
    </form>